<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
Predictionary.us - Roadmaps - You can't predict from what you don't know.
{% endblock %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta content="X-Frame-Options: SAMEORIGIN">
<meta property="og:description" content="Predictionary.us - Roadmaps - You can't predict from what you don't know. Urban Dictionary with a twist, sell your slang, hide meaning behind meaning. Ulterior motives like it's a potion.">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}

{% block authenticatedposts %}
<div style="display: block; width: 100%;">
	<div style="display: inline-block;"><a href="{% url 'Bable:landingpage_roadmaps' %}">Roadmap</a></div>
	<div style="display: inline-block;"><a href="{% url 'Bable:landingpage' %}">Frontpage</a></div>
</div>
<style>
	.multiexpimage {
		width: 26.6em;
	}
	.framer-19un3sn, .framer-1r4ux0k {
			top: -100px;
		}
	@media only screen {
		.framer-19un3sn, .framer-1r4ux0k {
			top: 0px;
		}
		
	}

	@media only screen and (max-width: 489px) {
		.multiexpimage {
		width: 100%;
	}
	}
</style>
<div class="pitch" style="width:fit-content; margin: auto;">
	<canvas id=canvas1>
	</canvas>
</div>
<style>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	#canvas1{
		border: 5px solid black;
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);

	}
	
</style>
<div id=roadmaps>
	<div class=roadmap>
		<li>
			[X] Build algorithm that generates increasing revenues over increasing periods of time on a global level.
			<ul>
				implement user-owned text-adjacent per-word advertising
			</ul>
			<ul>
				implement purchasing of dictionaries that require dictionaries, and purchasing of spaces that require words, made of words. Therefor allowing each purchasing page enabled to be inserted as an ad.
			</ul>
			<ul>
				income from purchasing of dictionaries goes into creation of more exclusive dictionaries. income from purchasing of spaces goes into creation of more detailed descriptions of higher order complexity spaces.
			</ul>
			<ul>
				each space is built with the same 4 characteristics as any business entity in the world, or as approximated by the best of the best (about, vision, mission, values)
				<li>
					whereby the about sells the vision while tying in how the values achieve the mission.
					<ul>
						the vision represents are far distant future of continued growth in operations
					</ul>
					<ul>
						the mission represents what the means to the ends are, and how each facilitated transaction is of a certain type that can be characterised by key features.
					</ul>
					<ul>
						the values represent the core assets of an individual that would enable them to being able to achieve the mission while their regulatory/responsibiliy capabilities are being optimised.
					</ul>
					<ul>
						selling isn't in the art of selling, or how much you can sell how little for, or how much value you can provide to the overall market by facilitating the transaction and supply from supplier to demander at the object of the demander's highest and most optimally arranged selection of fulfilled demands.
						<li>
							the highest point of fulfilled demands is apprehending the demands before the demands have been made, to the point of knowing how to finish the client, hopefully so loved as to call partner, has fulfilled all commands in advance of awaiting the next newest command.
						</li>
						<li>
							the highest features of an individual fulfilling commands ought to be that of knowing what might be needed by the commander in order to fulfill the most highest of commands, the highest of which is 1vAll apocalypse, which is the stalemate form of the basis of our economy.
						</li>

					</ul>
				</li>
				<li>
					
					<ul>
					</ul>
					<ul>
					</ul>
					<ul>
					</ul>
					<ul>
					</ul>
				</li>

			</ul>
		</li>
		<li>
			
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
		</li>
		<li>
			
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
		</li>
	</div> 
</div>
{% endblock %}


{% block unauthenticated_posts %}
<div style="display: block; width: 100%;">
	<div style="display: inline-block;"><a href="{% url 'Bable:landingpage_roadmaps' %}">Roadmap</a></div>
	<div style="display: inline-block;"><a href="{% url 'Bable:landingpage' %}">Frontpage</a></div>
</div>
<style>
	.multiexpimage {
		width: 26.6em;
	}
	.framer-19un3sn, .framer-1r4ux0k {
			top: -100px;
		}
	@media only screen {
		.framer-19un3sn, .framer-1r4ux0k {
			top: 0px;
		}
		
	}

	@media only screen and (max-width: 489px) {
		.multiexpimage {
		width: 100%;
	}
	}
</style>
<div class="pitch" style="width:fit-content; margin: auto;">
	<canvas id=canvas1>
	</canvas>
</div>
<style>
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	#canvas1{
		border: 5px solid black;
		position: absolute;
		top: 50%;
		left:50%;
		transform: translate(-50%, -50%);

	}
	
</style>
<div id=roadmaps>
	<div class=roadmap>
		<li>
			[X] Build algorithm that generates increasing revenues over increasing periods of time on a global level.
			<ul>
				implement user-owned text-adjacent per-word advertising
			</ul>
			<ul>
				implement purchasing of dictionaries that require dictionaries, and purchasing of spaces that require words, made of words. Therefor allowing each purchasing page enabled to be inserted as an ad.
			</ul>
			<ul>
				income from purchasing of dictionaries goes into creation of more exclusive dictionaries. income from purchasing of spaces goes into creation of more detailed descriptions of higher order complexity spaces.
			</ul>
			<ul>
				each space is built with the same 4 characteristics as any business entity in the world, or as approximated by the best of the best (about, vision, mission, values)
				<li>
					whereby the about sells the vision while tying in how the values achieve the mission.
					<ul>
						the vision represents are far distant future of continued growth in operations
					</ul>
					<ul>
						the mission represents what the means to the ends are, and how each facilitated transaction is of a certain type that can be characterised by key features.
					</ul>
					<ul>
						the values represent the core assets of an individual that would enable them to being able to achieve the mission while their regulatory/responsibiliy capabilities are being optimised.
					</ul>
					<ul>
						selling isn't in the art of selling, or how much you can sell how little for, or how much value you can provide to the overall market by facilitating the transaction and supply from supplier to demander at the object of the demander's highest and most optimally arranged selection of fulfilled demands.
						<li>
							the highest point of fulfilled demands is apprehending the demands before the demands have been made, to the point of knowing how to finish the client, hopefully so loved as to call partner, has fulfilled all commands in advance of awaiting the next newest command.
						</li>
						<li>
							the highest features of an individual fulfilling commands ought to be that of knowing what might be needed by the commander in order to fulfill the most highest of commands, the highest of which is 1vAll apocalypse, which is the stalemate form of the basis of our economy.
						</li>

					</ul>
				</li>
				<li>
					
					<ul>
					</ul>
					<ul>
					</ul>
					<ul>
					</ul>
					<ul>
					</ul>
				</li>

			</ul>
		</li>
		<li>
			
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
		</li>
		<li>
			
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
			<ul>
			</ul>
		</li>
	</div> 
</div>
{% endblock %}

{% block scripts %}
	<script>
		
		function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function openCommentThread(starter, com) {
			var element = document.getElementById(starter).getElementById(com);
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function comCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

		/* Needs to be step-counted for the DAHS of each Attribute
		function wordsAttributesAddMore() {
				var form_idx = $('#id_wa-TOTAL_FORMS').value;
				var copy = $('#waef').html().replace(/__prefix__/g, form_idx);
				$('#wafs').append(copy);
				$('#id_wa-TOTAL_FORMS').val(parseInt(form_idx) + 1);
			}
		*/
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}