
<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}

{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Sponsor ({{ sponsor.id }}): {{ sponsor.the_sponsorship_phrase }}'s Sponsor - Predictionary.us">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block title %}
Sponsor ({{ sponsor.id }}): {{ sponsor.the_sponsorship_phrase }}'s Sponsor - Predictionary.us
{% endblock %}

{% block authenticatedposts %}
<div class=sponsor>
	<div class=spon-id>
		ID: {{ sponsor.id }}
	</div>
	<div class=spon_latest>
		Latest: {{ sponsor.latest_change_date }}
	</div>
	{% if sponsor.author.username == request.user.username %}
	<div class=spon-delete>
		<a href="{% url 'Bable:delete_own_spons' sponsor.id %}"><h4>X</h4></a>
	</div>
	{% endif %}
	{% if sponsor.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
	<div class=spon_price_limit>
		Price: {{ sponsor.price_limit }}
	</div>
	<div class=spon_allowable>
		Allowable: {{ sponsor.allowable_expenditure }}
	</div>
	<div class=spon_author>
		<a href="{% url 'Bable:tob_user_view_count' sponsor.author.username 0 %}">/u/{{ sponsor.author.username }}</a>
	</div>
	<div class=spon_votecount>
		<a href="{% url 'Bable:votewvotestyle' 'spon' sponsor.id %}">Votes: {{ sponsor.votes_count }}</a>
	</div>
	<div class=spon_votes>
		<a href=>Votes:</a> 
		{% for vote in sponsor.votes.all %}
			{% if vote in loggedinanon.applied_votestyles.to_source %}
			<div class=votess>
				<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class=spon_views>
		Views: {{ sponsor.views }}
	</div>

	{% if request.user.username == sponsor.author.username %}
	<form action="{% url 'Bable:update_sponsor' %}" method=post>
		{% csrf_token %}
		<div id=sponsorform>
			{{ sponsor_form.as_p }}
			<button type=submit>Update Sponsor</button>
		</div>
	</form>
	{% endif %}
</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=sponsor>
	<div class=spon-id>
		ID: {{ sponsor.id }}
	</div>
	<div class=spon_latest>
		Latest: {{ sponsor.latest_change_date }}
	</div>
	{% if sponsor.author.username == request.user.username %}
	<div class=spon-delete>
		<a href="{% url 'Bable:delete_own_spons' sponsor.id %}"><h4>X</h4></a>
	</div>
	{% endif %}
	{% if sponsor.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
	<div class=spon_price_limit>
		Price: {{ sponsor.price_limit }}
	</div>
	<div class=spon_allowable>
		Allowable: {{ sponsor.allowable_expenditure }}
	</div>
	<div class=spon_author>
		<a href="{% url 'Bable:tob_user_view_count' sponsor.author.username 0 %}">/u/{{ sponsor.author.username }}</a>
	</div>
	<div class=spon_votecount>
		<a href="{% url 'Bable:votewvotestyle' 'spon' sponsor.id %}">Votes: {{ sponsor.votes_count }}</a>
	</div>
	<div class=spon_votes>
		<a href=>Votes:</a> 
		{% for vote in sponsor.votes.all %}
			{% if vote in loggedinanon.applied_votestyles.to_source %}
			<div class=votess>
				<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class=spon_views>
		Views: {{ sponsor.views }}
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script>
		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		function openSponsors() {
			var element = document.getElementById("sponsorform");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}