
<!-- # Copyright Aden Handasyde 2019 -->

{% extends 'base.html' %}
{% load user_referencing %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}


{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="Sponsors - Predictionary.us {{count}}">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block title %}
Sponsors - Predictionary.us {{count}}
{% endblock %}

{% block authenticatedposts %}
<div class=displaybanner>
	<h3>
		Sponsors: ({{ sponsors_count }})
	</h3>
</div>
<div class=possectionsort>
	<form name=anon_sort action="{% url 'Bable:change_sponsor_sort_char' %}" method=post>
		{% csrf_token %}
		{{ sponsor_sort_form }}
	</form>
	<script>
		var form = document.querySelector('form[name="sponsor_sort"]');
		form.addEventListener('change', function() {
		    form.submit();
		});
	</script>
</div>
<div class=sponsors>
	{% for spon in sponsors %}
		<div class=sponsor>
			<div class=spon-id>
				ID: {{ spon.id }}
			</div>
			<div class=spon_latest>
				Latest: {{ spon.latest_change_date }}
			</div>
			{% if spon.author.username == request.user.username %}
			<div class=spon-delete>
				<a href="{% url 'Bable:delete_own_spons' spon.id %}"><h4>X</h4></a>
			</div>
			{% endif %}
			{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
			<div class=spon_price_limit>
				Price: {{ spon.price_limit }}
			</div>
			<div class=spon_allowable>
				Allowable: {{ spon.allowable_expenditure }}
			</div>
			<div class=spon_author>
				<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
			</div>
			<div class=spon_votecount>
				<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes_count }}</a>
			</div>
			<div class=spon_votes>
				<a href=>Votes:</a> 
				{% for vote in spon.votes.all %}
					{% if vote in loggedinanon.applied_votestyles.to_source %}
					<div class=votess>
						<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class=spon_views>
				Views: {{ spon.views }}
			</div>
		</div>
	{% endfor %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tob_sponsors' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_sponsors' count100 %}">></a>
</div>
{% endblock %}

{% block unauthenticated_posts %}
<div class=displaybanner>
	<h3>
		Sponsors: ({{ sponsors_count }})
	</h3>
</div>
<div class=sponsors>
	{% for spon in sponsors %}
		<div class=sponsor>
			<div class=spon-id>
				ID: <a href="{% url 'Bable:tob_sponsor' spon.id %}">{{ spon.id }}</a>
			</div>
			<div class=spon_latest>
				Latest: {{ spon.latest_change_date }}
			</div>
			{% if spon.img %}<img src='{{ spon.img }}' style="height: 6em; width: 6em;"/>{% endif %}
			<div class=spon_price_limit>
				Price: {{ spon.price_limit }}
			</div>
			<div class=spon_allowable>
				Allowable: {{ spon.allowable_expenditure }}
			</div>
			<div class=spon_author>
				<a href="{% url 'Bable:tob_user_view_count' spon.author.username 0 %}">/u/{{ spon.author.username }}</a>
			</div>
			<div class=spon_votecount>
				<a href="{% url 'Bable:votewvotestyle' 'spon' spon.id %}">Votes: {{ spon.votes_count }}</a>
			</div>
			<div class=spon_votes>
				<a href=>Votes:</a> 
				{% for vote in spon.votes.all %}
					{% if vote in loggedinanon.applied_votestyles.to_source %}
					<div class=votess>
						<a href="{% url 'Bable:vote' vote.id %}">{{ vote.votes }}</a>: <a href="{% url 'Bable:tob_users_space' vote.author.username vote.the_vote_name.the_word_itself %}">{{ vote.the_vote_itself }}</a>
					</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class=spon_views>
				Views: {{ spon.views }}
			</div>
		</div>
	{% endfor %}
</div>
<div class=pageno>
	<a href="{% url 'Bable:tob_sponsors' mcount %}"><</a>{{ count }}:{{ count100 }}<a href="{% url 'Bable:tob_sponsors' count100 %}">></a>
</div>
{% endblock %}

{% block scripts %}
	<script>
		function nodeCollapse(node) {
			var element = document.getElementById(node)
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		function openSponsors() {
			var element = document.getElementById("sponsorform");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}
		$(document).on('click', 'button.Delete', function() {
			var target = '#id_' + $(this).val() + '-DELETE';
			$(target).prop('checked', true);
			$(this).closest('tr').hide();
		});
	</script>
{% endblock %}