{% extends 'base_storefront.html' %}
{% load user_referencing %}
{% load vote_screen %}
{% load humanize %}
{% load mptt_tags %}
{% load static %}
{% load i18n %}

{% block title %}
{{user_storefront.title}} - {{ request.META.HTTP_HOST|stripwww }}
{% endblock %}


{% block inserts %}
<meta name="viewport" content="width=device-width">
<meta property="og:description" content="{{ user_storefront.title }} - Predictionary.us">
<meta property="og:image" content="{% static 'babylonpolice.jpg' %}">
{% endblock %}


{% block header_inner %}
<div class="header-inner">
	<div id="siteTitleWrapper">
		<h1 id="siteTitle" class="site-title" width=20%>
			{{ user_storefront.title|fontype:user_storefront.logo|safe }}
		</h1>
	</div>
	<div class="bar" style="display: inline-block; margin: 20px">
		<div class="past_purchases-bar" onclick="showregister()" style="display:inline-block;">
			<img src="{% static 'key.png' %}" style="height: 1em; width: 1em; border: solid; border-color: #e3dac9;" alt="Login">
		</div>
		
		{% if request.user.is_authenticated %}
		{% else %}
		<div class="landingpage" style="display: inline-block; margin-left:1em;">
			<a href="{% url 'Bable:landingpage' %}">Landing Page</a>
		</div>
		{% endif %}
		{% if request.user.is_authenticated %}
			<div class="account" style="">
				<a href="{% url 'Bable:tob_user_view_count' request.user.username 0 %}">/u/</a>
			</div>
			<div id="notifications">
				<div id="notification-count"></div>
				<div class="notification-dropdown">
				</div>
			</div>
		{% endif %}

	<div id="headerNav1" ontouchstart="$('.dropdown-content1')[0].display = 'block';" style="margin-top: -1.3em;">
		<div id="top"></div>
		<div id="middle"></div>
		<div id="bottom"></div>
		<div class="dropdown-content1">
			<div class="space_view">
				<a href="{% url 'Bable:storefront_landing_page' user_storefront.author.username user_dic.first.id user_storefront.title %}">Landing Page</a>
			</div>
			<div class="universal_pronunciation">
				<a href="{% url 'Bable:storefront_index' user_storefront.author.username user_storefront.title %}">Index</a>
			</div>
			<div class="mutawords">
				<a href="{% url 'Bable:storefront_about' user_storefront.author.username user_storefront.title %}">About</a>
			</div>
			<div class="dictionaries">
				<a href="{% url 'Bable:storefront_story' user_storefront.author.username user_storefront.title %}">Story of Us</a>
			</div>
			<div class="user_view">
				<a href="{% url 'Bable:storefront_product_list' user_storefront.author.username user_storefront.title %}">Products List</a>
			</div>
			<div class="word_attributes">
				<a href="{% url 'Bable:storefront_past_purchases' user_storefront.author.username user_storefront.title %}">Past Purchases</a>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}



{% block authenticated_posts %}

<div style="margin-top: 50px;">
	<img id="storefront_image_1" src="{{ user_storefront.image_1 }}" style="width: 100vw;">
	<section id="storefront_title" style="text-align: center; margin-left: {{ user_storefront.template_section_size_title_left }}px; margin-right: {{ user_storefront.template_section_size_title_right }}px; height: {{ user_storefront.template_section_size_title_height }}px;">{{ user_storefront.title }}</section>
	<img id="storefront_image_2" src="{{ user_storefront.image_2 }}" style="width: 100vw;">
	<section id="storefront_preview" style="text-align: center; margin-left: {{ user_storefront.template_section_size_preview_left }}px; margin-right: {{ user_storefront.template_section_size_preview_right }}px; height: {{ user_storefront.template_section_size_preview_height }}px;">{{ user_storefront.preview_text }}</section>
	<img id="storefront_image_3" src="{{ user_storefront.image_3 }}" style="width: 100vw;">
	<section id="storefront_disclaimer" style="text-align: center; margin-left: {{ user_storefront.template_section_size_disclaimer_left }}px; margin-right: {{ user_storefront.template_section_size_disclaimer_right }}px; height: {{ user_storefront.template_section_size_disclaimer_height }}px;">{{ user_storefront.disclaimer }}</section>
	<img id="storefront_image_4" src="{{ user_storefront.image_4 }}" style="width: 100vw;">
	{% if user_storefront.author.username == request.user.username %}
	<form method=POST action="{% url 'Bable:edit_storefront' user_storefront.id %}">
		{% csrf_token %}
		{{ storefront_form }}
		<button type=submit>Edit Storefront</button>
	</form>
	<div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">

			            {% for price in user_storefront.products.all %}

                     <div class="card">
			            <hr />
			            
			            <a href="{% url 'Bable:tob_product' price.id %}"><h3>{{ price.name }}</h3></a>
			            {% if price.img %}
			            <img src="{{ price.img }}" style="width: 200px !important; max-height: 200px; margin: auto; width: fit-content;">
			            {% else %}
			            <img src="{% static 'babylonpolice.jpg' %}" style="width: 200px !important; max-height: 200px; margin: auto; width: fit-content;">
			            {% endif %}
			            <div>
			                <h5>${{ price.get_display_price }} AUD {% if price.monthly %}per month{% endif %}</h5>
			                <form action="{% url 'Bable:create_checkout_session' price.id user_storefront.id %}" method="POST">
			                    {% csrf_token %}
			                    <div onclick="openComment('saleform')">
			                    Address+
			                	</div>
			                	<div id=saleform>
			                    {{ sale_form }}
			                	</div>
			                	<style>
			                		#saleform {
			                			display:none;
			                		}
			                	</style>
			                    <button type="submit">Checkout</button>
			                </form>
			            </div>

			        </div>
			            {% endfor %}
                </div>
            </div>
        </div>
        
		{% if user_storefront.author.username == request.user.username %}
		<div onclick="openComment('new_product_')">
        	Add New Product +
        </div>
        <style>
        	#new_product_form {
        		display: none;
        	}
        	#new_products_form {
        		display: none;
        	}
        </style>
        <form id="new_product_form" action="{% url 'Bable:create_product_w_price' user_storefront.id %}" method='POST'>{% csrf_token %}{{ product_form }}<button type="submit">Submit </button></form>
		<div onclick="openComment('new_products_')">
			Add Old Products +
		</div>
		<div class="row pt-5 pricing-table">
            <div class="col-12 mx-auto">
                <div class="card-deck pricing-table">
		<div id=new_products_form>
			{% for price in loggedinanon.products.all %}
				            
			     <div class="card">
			        <hr />
			        
			        <a href="{% url 'Bable:tob_product' price.id %}"><h3>{{ price.name }}</h3></a>
			        <img src="{{ price.img }}" style="width: 200px; height: 200px; margin: auto; width: fit-content;">
			        <div>
			            <h5>${{ price.get_display_price }} AUD {% if price.monthly %}per month{% endif %}</h5>
			            <form action="{% url 'Bable:keyup-checkout-session' price.id users_post.id %}" method="POST">
			                {% csrf_token %}
			                <button type="submit">Add to post</button>
			            </form>
			        </div>

			    </div>
	        {% endfor %}
	    </div>
    </div></div></div>
		<div class=storefrontdel>
			<a href="{% url 'Bable:delete_own_storefront' user_storefront.author.username user_storefront.id %}">X</a>
		</div>
		{% endif %}
	{% endif %}
</div>
{% endblock %}

{% block unauthenticated_posts %}
<div >
	<img id="storefront_image_1" src="{{ user_storefront.image_1 }}" style="width: 100vw;">
	<section id="storefront_title" style="text-align: center; margin-left: {{ user_storefront.template_section_size_title_left }}px; margin-right: {{ user_storefront.template_section_size_title_right }}px; height: {{ user_storefront.template_section_size_title_height }}px;">{{ user_storefront.title }}</section>
	<img id="storefront_image_2" src="{{ user_storefront.image_2 }}" style="width: 100vw;">
	<section id="storefront_preview" style="text-align: center; margin-left: {{ user_storefront.template_section_size_preview_left }}px; margin-right: {{ user_storefront.template_section_size_preview_right }}px; height: {{ user_storefront.template_section_size_preview_height }}px;">{{ user_storefront.preview_text }}</section>
	<img id="storefront_image_3" src="{{ user_storefront.image_3 }}" style="width: 100vw;">
	<section id="storefront_disclaimer" style="text-align: center; margin-left: {{ user_storefront.template_section_size_disclaimer_left }}px; margin-right: {{ user_storefront.template_section_size_disclaimer_right }}px; height: {{ user_storefront.template_section_size_disclaimer_height }}px;">{{ user_storefront.disclaimer }}</section>
	<img id="storefront_image_4" src="{{ user_storefront.image_4 }}" style="width: 100vw;">
	
</div>
{% endblock %}

{% block scripts %}
<script>
	function openComment(starter) {
			var element = document.getElementById(starter + "form");
			if (element.style.display === "inline-block") {
				element.style.display = "none";
			} else {
				element.style.display = "inline-block";
			}
		}

	function openCommentThread(starter, com) {
		var element = document.getElementById(starter).getElementById(com);
		if (element.style.display === "inline-block") {
			element.style.display = "none";
		} else {
			element.style.display = "inline-block";
		}
	}

	function comCollapse(node) {
		var element = document.getElementById(node)
		if (element.style.display === "inline-block") {
			element.style.display = "none";
		} else {
			element.style.display = "inline-block";
		}
	}
</script>
{% endblock %}
